@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
}

.app {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 20rem;
  background-color: hsl(0, 100%, 100%);

  border-radius: 11px 11px 40% 11px;
}
.inner-app {
  padding: 8rem;
  position: relative;
}
.container {
  display: flex;
  gap: 5rem;
  padding: 20px;
}
.input {
  text-align: center;
  padding: 1.2rem 0;
  width: 14rem;
  border-radius: 5px;
  margin-bottom: 5rem;
  font-size: 3rem;
  border: 2px solid hsl(0, 0%, 94%);
}
input::placeholder {
  font-size: 3rem;
}
label {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  font-style: italic;
}

span {
  color: hsl(259, 100%, 65%);
}
.btn {
  border-radius: 50%;
  border: 0;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  position: absolute;
  transform: translate(1000%, -575%);
}
.btn:hover {
  background-color: hsl(0, 0%, 0%);
}
.btn-icon {
  padding: 1rem;
}
